.dialog_content {
    position: absolute;
    background-color: #f2f4f5;
    width: 100%;
    height: 722px;
    z-index: 1;
}

.navbar {
    position: fixed;
    width: 100%;
    min-height: 44px;
    box-shadow: 0 1px 5px #aaa;
    background: white;
}

.navbar-left {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 100;
}

.navbar-left i {
    cursor: pointer;
    color: #006700;
}

.navbar-main {
    width: 182px;
    margin: 0 auto;
}

.navbar-main h2 {
    color: green;
    font-weight: normal;
    font-size: 22px;
    line-height: 44px;
}

.i, .u {
    padding: 60px 20px 70px;
    background-color: #f2f4f5;
}

.i img, .u img {
    width: 60px;
    border-radius: 50%;
}

.i p, .i img {
    float: right;
    margin-left: 20px;
}

.u p, .u img {
    margin-right: 20px;
    float: left;
}

.i p {
    background-color: #00dd00;
    padding: 10px;
    border-radius: 10px;
}

.u p {
    background-color: #b4f95b;
    padding: 10px;
    border-radius: 10px;
}

.time {
    width: 60px;
    margin: 0 auto;
    text-align: center;
    display: block;
    border-top: 1px solid #a8a8a8;
}


.input_box {
    position: fixed;
    z-index: 100;
    left: 20px;
    top: 670px;
    width: 100%;
}

textarea[type="text"] {
    overflow: hidden;
    overflow-y: auto;
    height: 30px;
    max-height: 126px;
    font-size: 15px;
    line-height: 30px;
    padding: 8px 32px 8px 16px;
    border: 0;
    background-color: white;
    border-radius: 20px;
    word-break: break-all;
    caret-color: #ffc233;
    /*width: 1380px;*/
    width: 90%;
    outline: 0;
    resize: none;
}

button[type="submit"] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ffc233;
    position: relative;
    top: -17px;
    outline: none;
}

button[type="submit"]:hover {
    background-color: #ef6309;
}