.header{
    width: 100%;
    height: 80px;
    max-height: 80px;
    box-shadow: 0 2px 8px 5px #c3c3c3;
}

.header-logo{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.header-logo img{
    width: 180px;
    margin: 5px 5px 0 10px;
}

.headerTitle{
    position: relative;
    display: inline;
    bottom: 5px;
    font-size: 15px;
    font-family: Serif;
}

.header_login{
    float: right;
    margin:10px 60px;
    position: relative;
    top: 18px;
}

.header_login a{
    margin: 0 12px;
    color: blueviolet;
}

.header_login a:hover{
    background-color: #e1cdff;
}


.head-menu{
    float: right;
    position: relative;
    top: 5px;
    padding: 0px 20px;
    border-right: 1px solid grey;
}

.head-menu > li{
    padding: 24px 15px;
    float: left;
    /*background-color: #00ce00;*/
}

.head-menu > li a{
    font-size: 16px;
    color: black;
}

.head-menu > li > a:hover{
    color: #dd8f00;
}

#web_nav_li > ul{
    position: absolute;
    left: 300px;
    top: 50px;
    border-radius: 8px;
    box-shadow: 1px 4px 10px grey;
    z-index: 100;
    background-color: white;
    padding: 10px;
}


#web_nav_li > ul img{
    width: 100px;
}

#web_nav_li > ul > li > a{
    display: block;
    margin: 6px 0;
}

#web_nav_li > ul > li > a:hover{
    color: white;
    background-color: grey;
}

/*#web_nav_li{*/
/*    padding: 10px;*/
/*    float: left;*/
/*    background-color: #6e6e6e;*/
/*}*/


.hidden{
    display: none;
}



